
<div class="text-left mb-4">
    <div class="mb-2 text-left">
        <MudText Typo="Typo.h6" Class="text-primary-600">@Title</MudText>
    </div>
    <MudText Typo="Typo.body2" Class="mb-2 text-gray-600">@Description</MudText>
    <div class="pl-4 border-l-2 border-primary-600">
        <MudText Typo="Typo.body2">@Suggestion</MudText>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = string.Empty;
    
    [Parameter]
    public string Description { get; set; } = string.Empty;
    
    [Parameter]
    public string Suggestion { get; set; } = string.Empty;
}
